<header>
    <div name="logo">
        <img src="<?php echo '/' . SITE_SESSION_NAME . '/assets/images/home.png';?>" title=""/>
    </div>
    <div name="user_info">
        <div name="'user_data">
            <span name="label">{welcome}</span>
            <span name="value">{user_full_name}</span>
        </div>
        <div name="logout">{logout_link}</div>
    </div>
    <div name="site_info">
        <h3>Synercloud Object Explorer</h3>
        <h4>Version:</h4>
        <h5 class="version_number">{version}</h5>
    </div>
</header>
<footer>
    <div name="desktop-message-center" class="right hide">Desktop successfully saved</div>
    <div name="copyright">&copy;2020 Synercloud, LLC</div>
    <div name="disclaimer">A SC Labs Product - All Rights Reserved</div>
</footer>
