{messages}
<div class="section_header_spacer">
    <h3 class="section_header">Account Information</h3>
</div>
<label class="required">User Name</label>{user_name}<br>
<label class="required">Password</label>{password}<br>
<label class="required">Reenter Password</label>{reenter_password}<br>
<label class="required">Role</label>{role}<br>
<label class="required">First Name</label>{first_name}<br>
<label class="required">Last Name</label>{last_name}<br><br>
<div class="section_header_spacer">
<h3 class="section_header">Contact Information</h3>
</div>
<label>Address</label>{adr_1}<br>
<label></label>{adr_2}<br>
<label></label>{adr_3}<br>
<label>City</label>{city}<br>
<label>State</label>{state}<br>
<label>Country</label>{country}<br>
<label>Zip Code</label>{zip_code}<br>
<label>Work Phone</label>{work_phone}<br>
<label>Personal Phone</label>{personal_phone}<br>
<label class="required">Email Address</label>{email_address}<br><br>
<div class="info_spacer_div">
    <h5 class="info_spacer">*Required Field</h5>
</div>