<script src="<?php echo '/' . SITE_SESSION_NAME . '/assets/scripts/administration/change_password.js';?>"></script>
<script type = "text/javascript">
    ChangePasswordObj = new JChangePassword(Ajax);
    $(document).ready(function()
    {
        $('select[name=users]').focus();
    });
</script>
{toolbar}
<section name="change_password_section" class="section clearfix">
    <form id="change_password_form">
        <div class="section_content_header get_h">
            <h2><img src="<?php echo '/' . SITE_SESSION_NAME . '/assets/images/keys.png';?>" class="section_img">Change Password</h2>
        </div>
        <div name="change_password_content" class="set_h">
            {content}
        </div>
    </form>
</section>
<script type = "text/javascript">
    ChangePasswordObj.initialize();
</script>