{messages}
<div name="roles_content_table" class="roles_content_table set_h">
    <table id="roles_table" name="roles_table" class="roles_table">
        <thead>
        <tr>
            <th>Role</th>
            <th>Description</th>
            <th>System Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {rows}
        <tr>
            <td>{role}</td>
            <td>{description}</td>
            <td>{system_role}</td>
            <td>{actions}</td>
        </tr>
        {/rows}
        </tbody>
    </table>
</div>